{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
    .product{
        width: 80%;
        margin-left: 10%;
    }
    .dates{
        display: flex;
        justify-content: space-between;
    }
    </style>
    <div class="product">
        <h1>{{ product.title }}</h1>
        <h5>{{ product.descriptions }}</h5>
        <h5>Rate {{ product.rate }}</h5>
        <div class="dates">
             <h5>{{ product.create_date }}</h5>
             <h5>{{ product.modifate_date }}</h5>
        </div>
        <h5 class="review_title">Review</h5>
        <div class="review">
            {% for review in review %}
                <div class="review">
                    <h5>{{ review }}</h5>
                    <p>{{ review.create_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}